
@model Report
@{
    Context.Session.TryGetEmployee(out Employee empl);
}

@{
    ViewData["Title"] = "Отчет";
}

<h1>@Model.Employee.Name</h1>


<button id="toggleButton" class="btn btn-outline-warning" onclick="toggleForms()">Добавить запись</button>

<div id="form1" style="display: none;">

    <form action="@Url.Action("Add", "Mission")" method="post">

        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="date">Дата</label>
            <input class="form-control" type="date" id="date" name="date"/>
        </div>

        <div class="form-group">
            <label for="working-time">Часы работы</label>
            <input class="form-control" type="number" id="working-time" name="workingTime"/>
        </div>

        <input type="hidden" id="employeeId" name="employeeId" value="@Model.Employee.Id"/>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

<div id="form2">
    <table id="employee-missions" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Описание</th>
            <th scope="col">Дата</th>
            <th scope="col">Часы работы</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var mission in Model.Missions)
        {
            <tr>
                <td>@mission.Id</td>
                <td>@mission.Description</td>
                <td>@mission.Date.ToString("dd.MM.yyyy")</td>
                <td>@mission.WorkingTime</td>
                <td>
                    <button class="btn btn-info" onclick="showEditForm(@mission.Id)">Изменить</button>
                    <form id="edit-form-@mission.Id" style="display: none;" onsubmit="submitEditForm(event, @mission.Id)">

                        <!-- Форма для редактирования -->
                        <input type="text" name="description" value="@mission.Description" required/>
                        <input type="date" name="date" value="@mission.Date.ToString("yyyy-MM-dd")" required/>
                        <input type="number" name="workingTime" value="@mission.WorkingTime" required/>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <button type="button" class="btn btn-danger" onclick="hideEditForm(@mission.Id)">Отмена</button>
                    </form>
                </td>
                <td>
                    <form action="@Url.Action("Remove","Mission")" method="post">
                        <input type="hidden" name="missionId" value="@mission.Id">
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>

        <tfoot>
            <tr>
                <th><strong>Всего часов @Model.TotalHours</strong></th>
                <th><strong>Зарплата @Model.TotalSalary.ToString("##,000 руб")</strong></th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    function toggleForms() {
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2");
        var button = document.getElementById("toggleButton");

        if (form1.style.display === "none") {
            form1.style.display = "block";
            form2.style.display = "none";
            button.innerHTML = "Скрыть форму";
        } else {
            form1.style.display = "none";
            form2.style.display = "block";
            button.innerHTML = "Добавить запись";
        }
    }
</script>

<script>
    function showEditForm(missionId) {
        var editForm = document.getElementById("edit-form-" + missionId);
        var editButton = editForm.previousElementSibling;
        editButton.style.display = "none";
        editForm.style.display = "block";
    }

    function hideEditForm(missionId) {
        var editForm = document.getElementById("edit-form-" + missionId);
        var editButton = editForm.previousElementSibling;
        editButton.style.display = "inline-block";
        editForm.style.display = "none";
    }
</script>

<script>
    function submitEditForm(event, missionId) {
        event.preventDefault();
        var editForm = document.getElementById("edit-form-" + missionId);
        var formData = new FormData(editForm);
        formData.append("id", missionId);
        fetch("@Url.Action("Edit", "Mission")", {
            method: "POST",
            body: formData
        })
            .then(function (response) {
                if (response.ok) {
                    location.reload();
                }
            });
    }
</script>




